
</body>
<footer>
    <div>
        <p>Open to Contributions</p>
        <p>Source Code: <a href="https://github.com/Pranavnk15/Todo-List">Github</a></p>
        <p>Created with <span class="heart">❤</span> by <a href="https://github.com/bishwobista/Todo-List"> Pranav Khandagale</a>
        </p>
    </div>
    
</footer>
</html>
