@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Yellowtail&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

html::before{
  content: "";
  height: 1000px;
  width: 100%;
  position: absolute;
  display: block;
  /* background: url('https://wallpapers.com/images/hd/violet-background-luybjj6wz4y85l6m.jpg'); */
  /* background: url('https://img.freepik.com/free-photo/color-smoke-abstract-wallpaper-aesthetic-background-design_53876-133390.jpg'); */
  /* background: url('https://wallpapers.com/images/hd/dark-purple-blue-sparkling-sky-1vds82j6e3ycq9r1.jpg'); */
  /* background: url('https://c4.wallpaperflare.com/wallpaper/80/213/299/dark-purple-background-photoshop-matte-paint-flowers-hd-wallpaper-preview.jpg'); */
  background: url('https://img.freepik.com/premium-photo/abstract-neon-background-luminous-swirling_41470-612.jpg');
  top: 0;
  left: 0;
  background-size: cover;
  background-position: center;
  /* opacity: ; */
  filter: contrast(200%);
  z-index: -1;
}

html {
  /* background-color: #E4E9FD;
  background-image: -webkit-linear-gradient(65deg, #A683E3 50%, #E4E9FD 50%); */
  min-height: 1000px;
  font-family: 'helvetica neue';

}

h1 {
  /* color: #fff; */
  padding: 10px;
  background: rgb(176,37,4);
  background: linear-gradient(30deg, rgb(218, 68, 30) 18%, rgb(235, 180, 17) 98%);
  -webkit-text-fill-color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
   color: rgb(245, 168, 25);

}


.box {
  max-width: 400px;
  margin: 50px auto;
  background-color: #897fd5;
  border-radius: 5px;
  box-shadow: 15px 15px 15px -5px  rgba(0, 0, 0, 0.3);
  overflow-x: hidden;
  outline: 1px  solid rgb(19, 26, 85);

}

.item-container:hover{
  background-color: #7065bd;
}

#heading {
   background: rgb(25,11,50); 
  background-image: linear-gradient(330deg, rgb(13 5 28) 28%, rgb(46 22 93) 60%, rgba(50,12,128,1) 99%);
  position: relative;
  text-align: center;
  transition: all 1s ease-in-out;
  box-shadow: 6px -3px 15px white;
}

#heading:hover{
  transition: all 1s ease-in-out;
   background: rgb(16,12,42);
  background-image: linear-gradient(30deg, rgb(13 5 28) 28%, rgb(46 22 93) 60%, rgba(50,12,128,1) 99%);
  
}

.item-container {
  display: inline-flex;
  position: relative;
}

.item {
  min-height: 70px;
  display: flex;
  width: 400px;
  align-items: center;
  border-bottom: 1px solid #F1F1F1;
}


.animation {

  min-height: 70px;
  min-width: 400px;
  background-color: #4e76b3;
  transition: all 0.2s ease-in;

}

.item:last-child {
  border-bottom: 0;
}

input:checked+p {
  text-decoration: line-through;
  text-decoration-color: #0d041b;
}

input[type="checkbox"] {
  margin: 20px;
  width: 20px;
  height: 20px;
  border: .5px  rgb(25,11,50);
}



p {
  margin: 0;
  padding: 10px;
  font-size: 25px;
  font-weight: 650;
  color: white;

}
footer p:nth-child(2) a{
  color: aqua;
}
footer p:nth-child(3) a{
  color: rgb(219, 36, 204);
}

.heart{
    color:  red;
}

form {
  text-align: center;
  margin-left: 20px;
  position: relative;
}

.box p {
  max-height: 100px; /* Set a fixed maximum height for each item */
  overflow-y: auto;
  max-width: 180px;
}
input[type="text"] + form.edit-form{
  margin-left: 10px; /* Adjust the margin as needed */
}

form.edit-form {
  position: absolute;
  margin-left: 40vh; /* Adjust the margin as needed */
}

form.delete-form {
  position: absolute;
  margin-left: 50vh;
}


/* Style the "Edit" and "Delete" buttons as rounded rectangles */
form.edit-form button,
form.delete-form button {
  min-height: 30px;
  /* Adjust the height as needed */
  width: auto;
  /* Adjust the width as needed */
  padding: 5px 10px;
  /* Adjust the padding as needed */
  font-size: 16px;
  /* Adjust the font size as needed */
  border: none;
  border-radius: 10px;
  /* Adjust the border radius as needed */
  /* background-color: #A683E3; */
  background: rgb(25,11,50);
background: linear-gradient(335deg, rgba(25,11,50,1) 28%, rgba(36,16,74,1) 60%, rgba(50,12,128,1) 99%);
  /* Button background color */
  color: #fff;
  /* Button text color */
position: absolute;
}

/* Style the "Save" button as a smaller rounded rectangle */
form.edit-item-form button[type="button"] {
  min-height: 30px;
  /* Adjust the height as needed */
  width: auto;
  /* Adjust the width as needed */
  padding: 5px 10px;
  /* Adjust the padding as needed */
  font-size: 16px;
  /* Adjust the font size as needed */
  border: none;
  border-radius: 10p\x;
  /* Adjust the border radius as needed */
  /* background-color: #A683E3; */
  background: rgb(25,11,50);
  background: linear-gradient(335deg, rgba(25,11,50,1) 28%, rgba(36,16,74,1) 60%, rgba(50,12,128,1) 99%);
  
  /* Button background color */
  color: #fff;
  /* Button text color */
  cursor: pointer;
}

.edit-form {
  top: 20px;
  margin-left: 10px;
}

.delete-form {
  top: 20px;
  margin-left: 50px;
}

/* Style the "+" button with the desired background color */
button[type="submit"][name="list"] {
  min-height: 50px;
  width: 50px;
  border-radius: 50%;
  border-color: transparent;
  /* background-color: #A683E3; */
  background: rgb(25,11,50);
  background: linear-gradient(335deg, rgba(25,11,50,1) 28%, rgba(36,16,74,1) 60%, rgba(50,12,128,1) 99%);
  
  /* Updated background color */
  color: rgb(255, 166, 0);
  font-size: 30px;
  padding: 0;
  line-height: 50px;
  /* Set line-height to the same as height to vertically center the text */
  border-width: 0;
  transition: all 0.2s ease-in;
  
}


/* Adding hover effet for making it visually distinct and appealing */
button[type="submit"][name="list"]:hover {
  background-color: black;
  transform: scale(1.1);
  transform: rotate(90deg);
  font-size: 40px;

}

.login-button button {
  background: linear-gradient(335deg, rgba(25, 11, 50, 1) 28%, rgba(36, 16, 74, 1) 60%, rgba(50, 12, 128, 1) 99%);
  color: rgb(255, 166, 0);
  font-size: 16px; 
  padding: 10px 20px;
  border: none; 
  cursor: pointer; 

  position: fixed;
  top: 40px; 
  right: 40px; 
}



input[type="text"] {
  text-align: center;
  height: 48px;
  top: 10px;
  border: none;
  /* background: transparent; */
  background: #958cdcc2;
  font-size: 20px;
  font-weight: 200;
  width: 300px;
  margin-right: 10px;
  border-radius: 50px;
}

input[type="text"]:focus {
  outline: none;
  box-shadow: inset 0 -3px 0 0 #A683E3;
}

::placeholder {
  color: rgb(19, 81, 110);
  opacity: 1;
}

footer {
  color: white;
  /* color: rgba(0, 0, 0, 0.5); */
  text-align: center;
}


.mh1::before{
  content: "";
  width: 0;
  height: 6px;
  display: block;
  position: relative;
  left: 0;
  bottom:  70px;
  top:0;
  margin-left:auto ;
  margin-right: auto;
  transition: all .5s ease-in-out;
  background-color: rgb(236, 157, 11);
  border-radius: 50%;
}
.mh1:hover::before{
  width: 650px;
}

.mh1 {
  position: relative;
  font-size: 4.5rem;
  font-weight: 900;
  margin: 0;  
  transition: all .5s ease-in-out;
  font-family: 'Lobster', cursive;
  /* font-family: 'Yellowtail', cursive; */
  letter-spacing: 5px;
  background: rgb(190, 51, 16);
  background: linear-gradient(60deg, rgb(192, 61, 29) 20%, rgb(238, 180, 7) 98%);
  -webkit-text-fill-color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}
.mh1::after{
  content: "";
  width: 0;
  height: 6px;
  display: inline-block;
  position: absolute;
  left: 0;
  right: 0;
  top: 100%;
  margin-left:auto ;
  margin-right: auto;
  transition: all .5s ease-in-out;
  background-color: rgb(233, 157, 16);
  border-radius: 50%;
  
}
.mh1:hover::after{
  width: 650px;
}

.mh1:hover{  
  transition: all .5s ease-in-out;
  transform: scaleX(50px);
  letter-spacing: 20px;
  font-size: 4.8rem; 
}

header {
  text-align: center;
  padding-top: 20px;
}

.wrapper {
  height: 71px;
  display: none;
  justify-content: center;
  align-items: center;
  background-color: #eee
}

.checkmark__circle {
  stroke-dasharray: 166;
  stroke-dashoffset: 166;
  stroke-width: 2;
  stroke-miterlimit: 10;
  stroke: #A683E3;
  fill: none;
  animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards
}

.checkmark {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  display: block;
  stroke-width: 2;
  stroke: #fff;
  stroke-miterlimit: 10;
  margin: 10% auto;
  box-shadow: inset 0px 0px 0px #A683E3;
  animation: fill .4s ease-in-out .4s forwards, scale .3s ease-in-out .9s both
}

.checkmark__check {
  transform-origin: 50% 50%;
  stroke-dasharray: 48;
  stroke-dashoffset: 48;
  animation: stroke 0.9s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards
}

@keyframes stroke {
  100% {
    stroke-dashoffset: 0
  }
}

@keyframes scale {

  0%,
  100% {
    transform: none
  }

  50% {
    transform: scale3d(1.1, 1.1, 1)
  }
}

@keyframes fill {
  100% {
    box-shadow: inset 0px 0px 0px 30px #A683E3
  }
}